<div class="container">
  <mat-card>
    <mat-card-content>




      <mat-grid-list cols="35" rowHeight="1:1">
        <ng-container *ngFor="let row of rows">
          <ng-container *ngFor="let cell of row.cells">
            <mat-grid-tile [ngClass]="getClass(cell.id)" (click)="select(cell.id)"></mat-grid-tile>
          </ng-container>
        </ng-container>
      </mat-grid-list>


    </mat-card-content>
    <mat-card-actions>
      <span class="shopping-cart"> Warenkorb: {{amount | currency:'EUR':true }}</span>
      <button mat-button>Spenden</button>
    </mat-card-actions>
  </mat-card>
</div>
<router-outlet></router-outlet>